[eucalyptus-release]
name=eucalyptus-release
baseurl=http://downloads-cdn0.eucalyptus.com/software/eucalyptus/{{ euca_release }}/centos/6/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/eucalyptus-release.pub
gpgcheck=0
enabled=1
