[eucalyptus-release]
name=eucalyptus-release
baseurl=http://downloads-cdn0.eucalyptus.com/software/eucalyptus/{{ euca_release }}/{{ os_distro }}/{{ ansible_distribution_major_version }}/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/eucalyptus-release.pub
gpgcheck=0
enabled=1
