[euca2ools-release]
name=euca2ools-release
baseurl=http://downloads-cdn0.eucalyptus.com/software/euca2ools/{{ euca2ools_version }}/centos/6/x86_64/
gpgkey=file:///etc/pki/rpm-gpg/euca2ools-release.pub
gpgcheck=0
enabled=1
